body{
    padding-top: 40px;
}
.container .folders .folder{
    margin: 10px;
    width: 120px;
    height: 60px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    position: relative;
}
.container .folders .folder .trash_img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    right: 2px;
    z-index: 10;
    cursor: pointer;
}
.container .folders .folder .rename_img{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 2px;
    left: 2px;
    z-index: 10;
    cursor: pointer;
}
.my-row{
    max-height: 600px;
    overflow-y: auto;
    padding: 10px;
}